*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
section {
  width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5vw;
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container {
  max-width: 80vw;
  width: 100%;
  display: flex;
  align-items: center;
  margin: max(5vh, 2.5rem) auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.hero .img-wrapper {
  height: 100vh;
}

.hero__description--wrapper {
  flex-direction: column;
}

.hero__description {
  font-size: max(2vw, 32px);

  line-height: 1.75;
  max-width: 80%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;

  text-align: center;

  color: #a90000;
}

.rapid-wave,
.thunder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
