*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #a90000;
}

html,
body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
section {
  width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5vw;
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container {
  max-width: 80vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: max(5vh, 2.5rem) auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.hero .img-wrapper {
  height: 100vh;
}

.hero__description--wrapper {
  flex-direction: column;
}

.hero__description {
  font-size: max(2vw, 32px);

  line-height: 1.75;
  max-width: 80%;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;

  text-align: center;

  color: var(--main-color);
}

.rapid-wave,
.thunder,
.restrictions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proposial {
  width: 55%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  justify-content: space-between;
  padding: 2.5vh 1.5vw;
}

.proposial__discount {
  color: var(--main-color);
  font-weight: 900;
  font-size: 100px;
  line-height: 77px;
}

.proposial__title {
  font-weight: 700;
  font-size: 66px;
  line-height: 65px;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.text-bigger {
  font-weight: 900;
  font-size: 66px;
  line-height: 77px;
}

.text-smaller {
  font-weight: 900;
  font-size: 50px;
  line-height: 77px;
}

.proposial__description {
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
}

.proposial__legend {
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
}

.restrictions {
  margin: max(7.5vh, 2.5rem) auto;
  background: radial-gradient(50% 50% at 50% 50%, #393866 0%, #00063c 100%);
}

.restrictions--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restrictions__description {
  font-weight: 400;
  font-size: 40px;
  line-height: 65px;
  color: #fff;
  text-align: center;
}
